- if @current_user.nil?
  = form_tag sessions_path do
    %fieldset
      .p
        = url_field_tag :openid_url, params[:openid_url], :placeholder => "Openid url"
        = submit_tag 'Login'
- else
  = "Welcome #{@current_user.nickname}"
