- if @current_user.nil?
  = form_tag sessions_path do
    %fieldset
      .p
        = text_field_tag :openid_url, params[:openid_url]
        = submit_tag 'Login'
- else
  = "Welcome #{@current_user.nickname}"
