- form_for @topic do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :subscribers
    = f.collection_select :subscribers, @users, :nickname, :nickname, {}, { :multiple => true}
  %p
    - fields_for @post do |post|
      = post.label :post
      = post.text_area :content
  %p
    = f.submit "Submit"
