- title "Edit Topic"
- form_for @topic do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.submit "Submit"
.p
  = link_to "Show", topic_path(@topic.permalink) |
  = link_to "View All", topics_path
