- title "Topics"
= will_paginate @topics
%table
  %tr
    %th
      Title
    %th
      Creator
    %th
      Messages
    %th
      Unread
  - for topic in @topics
    %tr
      %td
        = link_to topic.title, topic_path(topic.permalink)
      %td
        = topic.creator
      %td
        = topic.posts_count
      %td
        = unread_posts(topic.subscribers)
      %td
        = link_to "Show", topic_path(topic.permalink)
      %td
        = link_to "Edit", edit_topic_path(topic)
      %td
        = link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete
%p
  = link_to "New Topic", new_topic_path

