= will_paginate @topics, :params => { :format => nil }
%section#topics{:class => 'page-title', :title => "Topics"}
  - @topics.each do |topic|
    %article
      %p.unread
        %mark=link_to_unread topic
      %header
        %h3
          = link_to topic.title, topic_path(topic.slug)
        %h4
          = "by #{topic.last_user} le #{current_tz(topic.posted_at)}"
      %hr
= will_paginate @topics, :params => { :format => nil }
