- title "Topics"
%p
  = link_to "New Topic", new_topic_path
= will_paginate @topics
%ul#topics
  - for topic in @topics
    %li
      %ul
        %li.unread
          = link_to_unread topic
        %li.title
          %strong
            = link_to topic.title, topic_path(topic.permalink)
          %em.small
            = "by #{topic.creator} le #{topic.created_at}"
= will_paginate @topics
