- title @topic.title
%h2= @topic.title
%ul.topic-list
  - if creator? @topic.creator
    %li
      = link_to t('topics.edit'), edit_topic_path(@topic)
    %li
      = link_to t('topics.destroy'), @topic, :confirm => 'Are you sure ?', :method => :delete
  %li
    = link_to post_ratio(@topic), topic_path(@topic.permalink)
  %li
    = link_to @topic.members.size, topic_path(@topic.permalink)
  %li
    = link_to @topic.attachments_count, topic_path(@topic.permalink)
%hr
- if creator? @topic.creator
  = form_tag add_member_topic_path(@topic), :method => 'put', :action => 'index' do
    = text_field_tag :nickname, params[:nickname]
    = submit_tag "Ajouter"
  %p
    %strong
      = t('subscriber').pluralize
    - @topic.members.each do |member|
      = member.nickname
      = link_to "X", remove_member_topic_path(@topic, :nickname => member.nickname), :method => :delete
= will_paginate @posts
= render :partial => 'posts/post', :collection => @posts
= will_paginate @posts
#addComment
  = render 'posts/form', :collection => @post
