- title "Topic"
%p
  %strong
    Title:
  = h @topic.title
%p
  %strong
    Permalink:
  = h @topic.permalink
%p
  %strong
    Creator:
  = h @topic.creator
%p
  %strong
    = t('subscriber').pluralize
  - @topic.subscribers.each do |subscriber|
    = subscriber.nickname
  = will_paginate @posts
  = render :partial => 'posts/post', :collection => @posts
#addComment
  = render 'posts/form', :collection => @post
%p
  = link_to "Edit", edit_topic_path(@topic.permalink)
  |
  = link_to "Destroy", @topic, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", topics_path
