- title @topic.title
%h2= @topic.title
%ul#topic-admin
  %li
    = link_to t('topics.edit'), edit_topic_path(@topic)
  %li
    = link_to t('topics.destroy'), @topic, :confirm => 'Are you sure ?', :method => :delete
%hr
= form_tag add_member_topic_path(@topic), :method => 'put', :action => 'index' do
  = text_field_tag :nickname, params[:nickname]
  = submit_tag "Ajouter"

%p
  %strong
    = t('subscriber').pluralize
  - @topic.members.each do |member|
    = member.nickname
    = link_to "X", remove_member_topic_path(@topic, :nickname => member.nickname), :method => :delete
  = will_paginate @posts
  = render :partial => 'posts/post', :collection => @posts
  = will_paginate @posts
#addComment
  = render 'posts/form', :collection => @post
