- title @topic.title
%ul.topic-list
  - if creator? @topic.creator
    %li#add-member
      = form_tag add_member_topic_path(@topic), :method => 'put', :action => 'index' do
        = text_field_tag :nickname, params[:nickname]
        = submit_tag "Ajouter"
    %li.edit
      = link_to t('topics.edit'), edit_topic_path(@topic)
    %li.destroy
      = link_to t('topics.destroy'), @topic, :confirm => 'Are you sure ?', :method => :delete
  %li#ratio
    %ul
      %li#posts-ratio
        = link_to post_ratio(@topic), topic_path(@topic.permalink)
      %li#members
        = link_to @topic.members.size, topic_path(@topic.permalink)
      %li#files-ratio
        = link_to attachments_ratio(@topic), topic_path(@topic.permalink)
%h2= @topic.title
%hr
- if creator? @topic.creator
  %strong
    = t('subscriber').pluralize
    - members_without_creator(@topic).each do |member|
      = member
      = link_to "X", remove_member_topic_path(@topic, :nickname => member), :method => :delete
= will_paginate @posts
= render :partial => 'posts/post', :collection => @posts
= will_paginate @posts
#addComment
  = render :partial => 'posts/form', :locals => {:topic => @topic}
