- form_for(@user) do |f|
  = f.error_messages
  - if flash[:welcome]
    .p
      = f.label :nickname
      .br
      = f.text_field :nickname
  .p
    = f.label :email
    .br
    = f.text_field :email
  .p
    = f.submit 'Update'
