= form_for(@user, :html => { :multipart => true }) do |f|
  = f.error_messages
  .p
    = f.label t('email')
    .br
    = f.text_field :email
  .p
    = f.label :avatar
    = image_tag(@user.avatar_url) if @user.avatar?
    = f.file_field :avatar
    = f.hidden_field :avatar_cache
  .p
    = f.submit t('form.save')
