= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.input :nickname, :autofocus => true
  %p
    = f.input :password
  - if devise_mapping.rememberable?
    %p
      = f.input :remember_me, :as => :boolean
  %p= f.submit "Sign in"
%p.right
  = render :partial => "devise/shared/links"
