%article{:id => post.id, :class => "post"}
  - cache("topics-#{post.user_id}") do
    %h4
      = link_to_avatar post.user
      %br
      = link_to post.user.nickname, user_path(post.user.slug)
  = link_to_edit_post(post, topic)
  = simple_form_for [topic, post], :html =>{:method => :delete } do |f|
    = f.submit t('posts.delete')
  %time
    = post.created_at
  - cache("post-#{post.id}") do
    %div.bubble{:data_user => post.user.nickname}
      - if post.state == 'published'
        =raw textilize post.body
      - else
        = t('posts.deleted')
  %hr
