!!! Strict
%html
  %head
    %title
      Blabbr
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag 'style'
    = csrf_meta_tag
    -# TODO : fix include_tags
    %script{:src => "/assets/application.js", :type => "text/javascript"}
    = raw hoptoad_javascript_notifier
    %script{:type => "text/html",:id  => "user"}
      %p
        Messages : {{ posts_count }}
      %p
        <a href="{{path}}"><img = src="{{avatar_path}}" /></a>
    %script{:type => "text/html",:id  => "post"}
      %article{:class => 'post', :id => "{{pid}}"}
        %h4
          <a href="/users/{{creator_s}}"><img = src="/uploads/avatars/{{creator_s}}.png" /></a>
          %br
          <a class="user" href="/users/{{creator_s}}">{{creator_n}}</a>
        %time
          {{created_at}}
        %div{:class => 'bubble'}
          {{{content}}}
        %hr
    %script{:type => "text/html",:id  => "topic_item"}
      %article
        %p.unread
          %mark
            {{#member}}<a href="{{path}}/page/{{page}}\#{{hash}}">{{unread}}</a>{{/member}}
        %header
          %h3
            <a href="{{path}}">{{title}}</a>
          %h4
            by {{last_user}} le {{posted_at}}
        %hr
    = render 'shared/js_templates'
  %body
    %header#top
      %nav
        %ul#user_info
          %li#avatar
            = link_to_avatar_thumb current_user
          %li
            = link_to t('home'), root_path
          %li
            = link_to t('topics.label'), topics_path
          %li
            = link_to t('preferences'), dashboard_path
          %li
            = link_to t('logout'), logout_path
        %ul.topic-list
          %li.new
            = link_to t('topics.new'), new_topic_path
          %li.new
            = link_to t('smilies.new'), new_smiley_path
    %hr
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    %section#center
      %h2#page-title
      %section#contents
        =#yield
      #notify
      %section.aside
        %aside
      %hr
    = render(:partial => "shared/ga")
    :javascript
      pusher = new Pusher("#{ENV['PUSHER_KEY']}");
