!!! Strict
%html
  %head
    %title
      = h("Blabbr - #{yield(:title)}")
    = stylesheet_link_tag 'style'
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://js.pusherapp.com/1.6/pusher.min.js"
    = include_javascripts :application
    = csrf_meta_tag
  %body
    %header#top
      %nav
        %ul#user_info
          %li#avatar
            = link_to_avatar_thumb current_user
            = link_to current_user.nickname, user_path(current_user.slug)
          %li
            = link_to t('home'), topics_path
          %li
            = link_to t('preferences'), dashboard_path
          %li
            = link_to t('logout'), logout_path
      %ul.topic-list
        %li.new
          = link_to t('topics.new'), new_topic_path
        %li.new
          = link_to t('smilies.new'), new_smiley_path
    %hr
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    %h2#page-title
      = yield(:title)
    %section#contents
      =yield
    #notify
    %aside
    %hr
    = render(:partial => "shared/ga")
    :javascript
      pusher = new Pusher("#{ENV['PUSHER_KEY']}");

