!!! Strict
%html
  %head
    %title
      = h(yield(:title) || "Blabbr")
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "jquery.rails.js"
    = csrf_meta_tag
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    %p
      - if mobile_device?
        = link_to "Full Site", :mobile => 0
      - else
        = link_to "Mobile Site", :mobile => 1
    =yield
