!!! 5
%html
  %head
    %title
      Blabbr
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
    = stylesheet_link_tag 'style'
    = csrf_meta_tag
    = javascript_include_tag "application"
    = raw hoptoad_javascript_notifier
    = render 'shared/js_templates'
  %body
    %header#top
      %nav
        %ul#user_info
          %li#avatar
            = link_to_avatar_thumb current_user
          %li
            = link_to t('home'), root_path
          %li
            = link_to t('topics.label'), topics_path
          %li
            = link_to t('preferences'), dashboard_path
          %li
            = link_to t('logout'), logout_path
        %ul.topic-list
          %li.new
            = link_to t('topics.new'), new_topic_path
          %li.new
            = link_to t('smilies.new'), new_smiley_path
    %hr
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    %section#center
      %h2#page-title
      %section#contents
        =#yield
      #notify
      %section.aside
        %aside
      %hr
    = render(:partial => "shared/ga")
    :javascript
      pusher = new Pusher("#{ENV['PUSHER_KEY']}");
