!!! Strict
%html
  %head
    %title
      = h(yield(:title) || "Blabber")
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}"
    - if logged_user?
      %ul#header
        %li
          = link_to t('home'), root_path
        %li
          = link_to t('preferences'), home_path
        %li
          = link_to t('logout'), logout_path
        %li
          - if mobile_device?
            = link_to "Full Site", :mobile => 0
          - else
            = link_to "Mobile Site", :mobile => 1
    =yield
